.input_group {
  @apply flex border rounded-xl;
  position: relative;
}

.input_text {
  @apply w-full py-4 px-6 border rounded-xl bg-slate-50;
  @apply focus:outline-none border-none;
}

.button {
  @apply max-w-[200px] sm:max-w-full mx-auto my-auto sm:m-0 bg-gradient-to-r from-[#bfd0eb] to-[#647894] rounded-md;
  @apply py-3 text-gray-50 text-lg;
  @apply transition duration-300 ease-out hover:ease-in;
}

.button:hover {
  @apply bg-gradient-to-r from-[#a8b7cf] to-[#53647b];
}

.button:disabled {
  @apply cursor-not-allowed text-gray-600;
}

.button_custom {
  @apply w-full border py-3 flex justify-center gap-2 hover:bg-[#e4eaf3] cursor-pointer;
  @apply transition duration-500 ease-in-out cursor-pointer;
}

.input_text + * {
  color: #cbd5e1;
}

.input_text:focus + * {
  color: #6366f1;
}

.input_text:not([type='email']) ~ span:hover * {
  color: #6366f1;
  cursor: pointer;
}

.error {
  border: 1px solid #e53e3e; /* Червоний колір бордера */
}
